
@* @model AspNetCoreCookieAuthentication.Pages.ProductModel *@
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Only authroized users can access this page</p>
<p>Use this page to detail your site's privacy policy.</p>

